{{define "header"}}
<header>
        <nav>
            <a href="/"><h1>NOMADCOIN</h1></a>
            <ul>
                <li>
                    <a href="/"><h1>Home</h1></a>
                </li>
                <li>
                    <a href="/add"><h1>Add</h1></a>
                </li>
            </ul>
        </nav>
    <h1>{{.}}</h1>
</header>
{{end}}